<article>
    <section>
        <form>
            <div class="form-group">
                <label for="zipcode">Enter a Zipcode:</label>
                <input type="number" class="form-control form-control-lg weather__form" id="zipcode" aria-describedby="zipCodeHelp">
                <small id="zipCodeHelp" class="form-text text-muted">Only works with U.S Zipcode.</small>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Add Location</button>
        </form>
    </section>
</article>