<article class="d-flex flex-column justify-content-center">
    <ng-container *ngFor="let itemForecast of forecastResult">
        <header class=" d-flex flex-column text-center">
            <button type="button" 
                [routerLink]="['home']" 
                routerLinkActive="router-link-active"
                class="btn btn-primary font-weight-bold align-self-start text-capitalize ml-5">back to search</button>
            <h2 class="font-weight-light py-2">Template for 5-day forecast page:</h2>
            <h4 class="text-center py-2 text-primary">5-day forecast for {{itemForecast.city.name}}</h4>
        </header>

        <section class="weather__table">
            <ul class="list-group">
                <ng-container *ngFor="let item of itemForecast.list | keyvalue">
                    <li class="list-group-item d-flex justify-content-between weather__list">
                        <p class="pt-1 font-italic"><strong>{{item.value.dt * 1000 | date: 'EEEE'}}</strong>
                            {{item.value.weather[0].description | titlecase}} - Min: {{item.value.temp.min}} - Max:
                            {{item.value.temp.max}}:</p>
                        <ng-container [ngSwitch]="item.value.weather[0].main">
                            <img class="icon mt-2" 
                                *ngSwitchCase="'Clear'"
                                src="https://www.angulartraining.com/images/weather/sun.png">
                            <img class="icon mt-2" 
                                *ngSwitchCase="'Clouds'"
                                src="https://www.angulartraining.com/images/weather/clouds.png">
                            <img class="icon mt-2" 
                                *ngSwitchCase="'Rain'"
                                src="https://www.angulartraining.com/images/weather/rain.png">
                            <img class="icon mt-2" 
                                *ngSwitchCase="'Snow'"
                                src="https://www.angulartraining.com/images/weather/snow.png">
                        </ng-container>
                    </li>
                </ng-container>
            </ul>
        </section>
    </ng-container>
</article>